
    <div class="container">
		<div class="row heading">
			<div class="col-md-12">
				<h1 class="text-center">Eat Da Burger!</h1>
				<hr>
				<br>
				<img src="/assets/img/burger.jpg" alt="burger" height="250" width="400"> 
				<br>
			</div>
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-6">
			<div class="panel-panel default">
				<h3>Devour these Burgers:</h3>

				{{!-- make them into a list  --}}

				<ul class="group1">

					{{#each burgers}}
						{{#unless this.devoured}}

							<div class="available">
								<li> {{this.burger_name}}</li>
							</div>
							<form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="devoured" value="true">
								<button class="btn btn-default btn-mds center-block" type="submit"> Devour!</button>
							</form>

						{{/unless}}
					{{/each}}
				</ul>

			</div>
		</div>
	</div>
		 


	
	
	<div class="col-md-6">
		<div class="panel-panel default">
			<h3>Devoured Burgers:</h3>
			<ul class="group1">
				{{#each burgers}}
					{{#if this.devoured}}

					<div class="noteaten">
						<li> {{this.burger_name}}</li>
					</div>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>	
		
		<br>
		<br>

	<div class="row">
		<div class="col-md-12">
			<p class="addBurger">Add Your Burger!</p>
				<form class"update-form" action="/burgers/create" method="POST">
					<div class="form-group">
						
						<input type="text" class="form-control" id="burger" name="burger_name">
					</div>
						<button type="submit" class="btn btn-default btn-lg submit center-block">Submit!</button>
				</form>
		</div>
	</div>

